/* ---------------------------------------------------------------------
 Menu
------------------------------------------------------------------------ */

header {
    // background: #37342F;
    padding: 30px 0 0;
    color: rgb(35, 28, 19);
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    background: rgb(244, 111, 71);
}

@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(http://themes.googleusercontent.com/static/fonts/pacifico/v5/yunJt0R8tCvMyj_V4xSjafesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}

.heading {
    font-size: 3em;
    line-height: 1;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 30px; 
    @media screen and (min-width: 401px){
        font-size: 4em;
    }
}

.heading-s {
  font-size: 1.5em;
  margin-bottom: 1em;
  @media screen and (min-width: 401px){
      font-size: 2em;
  }
}

.heading-fancy {
    font-family: Pacifico, Georgia, serif;
}

.text-l {
  font-size: 2em;
}

.flavor-subheading {
    color: #ADA79F;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 2.7em;
    font-weight: 600;
    margin: 0;
    padding: 0;
    letter-spacing: 0px;
}

.menu { 
    width: 100%;
    margin-top: 40px;
}

.menu ul {
    margin: 0 auto;
    overflow: hidden;
}

.menu li {
    float: left; 
    width: 33.33338%;
    display: table;
    @include box-sizing(border-box);

}

.menu a {
    display: table-cell;
    background: rgb(35, 28, 19);
    // color: #ADA79F;
    color: white;
    text-decoration: none;
    height: 6em;
    vertical-align: middle;
    font-size: 2em;
    @include box-sizing(border-box);
}

.menu .active {
    background: rgb(249, 218, 151);
    color: rgb(35, 28, 19);
}