/* ---------------------------------------------------------------------
 Menu
------------------------------------------------------------------------ */

header {
    // background: #37342F;
    padding: 30px 0 0;
    color: rgb(35, 28, 19);
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    background: rgb(244, 111, 71);
}

h1 {
    font-size: 5em;
    margin: 0.5em 0;
}

h2 {
    font-size: 58px;
    line-height: 1.4;
    font-weight: bold;
    color: white;
}

.flavor-subheading {
    color: #ADA79F;
    font-family: 'Open Sans';
    font-size: 2.7em;
    font-weight: 600;
    margin: 0;
    padding: 0;
    letter-spacing: 0px;
}

.menu { 
    width: 100%;
    margin-top: 40px;
}

.menu ul {
    margin: 0 auto;
    overflow: hidden;
}

.menu li {
    float: left; 
    width: 33.33338%;
    display: table;
    box-sizing: border-box;

}

.menu a {
    display: table-cell;
    background: rgb(35, 28, 19);
    // color: #ADA79F;
    color: white;
    text-decoration: none;
    height: 6em;
    vertical-align: middle;
    font-size: 2em;
    box-sizing: border-box;
}

.menu .active {
    background: rgb(249, 218, 151);
    color: rgb(35, 28, 19);
}