        <header>
            <h1>Sebastian Joe's Ice Cream</h1>
            <p class="flavor-subheading">We make it fresh daily. One batch at a time.</p>
            <div class="menu">
                <ul>
                    <li><a href="#">Franklin Ave</a></li>
                    <li><a href="#" class="active">All Flavors</a></li>
                    <li><a href="#">Linden Hills</a></li>
                </ul>
            </div>
        </header>
        <ul class="blocks js-tiles tilesContainer tilesContainer_isActive">
            <li ng-repeat="flavor in flavors | orderBy:orderProp" class="blocks-cell js-tiles-trigger">
                <div class="tile">
                    <img class="tile-img" src="{{flavor.img}}" alt="" />
                    <div class="tile-content">
                        <div class="flavor-info">
                            <h2>{{flavor.name}}</h2>
                            <p>{{flavor.details}}</p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>