/* ---------------------------------------------------------------------
 Base Styles


 #2E2E24 

------------------------------------------------------------------------ */

img {
  width: 100%;
  height: 100%;
  position: absolute;
}

html { background:rgb(255, 247, 236); }

body {
  color: #555;
  font-family: 'Open Sans', sans-serif;
  background:rgb(255, 247, 236);
  text-align: center;
  margin: 0;
  padding: 0;
}

p { font-family: 'Gentium Book Basic', serif; }

ul { list-style-type: none;  }

header {
  background: #37342F;
  margin: 0 0 10px 0;
  padding: 20px 0 0px 0;
}

/* ---------------------------------------------------------------------
 Flavor List
------------------------------------------------------------------------ */

.flavor-list {
	margin: 0; 
  padding: 0;
}

.flavor-list > li {
  display: block;
  float: left;
  width: 220px;
  height: 140px;
  overflow: hidden;
  position: relative;
  text-align: left;
  margin: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 2px 2px 10px #999;
  box-shadow: 2px 2px 10px #999;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
  
.flavor-list > .selected,
.flavor-list > .hover {
	margin: 20px;
	width: 240px;
	height: 160px;
}

.flavor-image {
  display: inline-block;
  width: 50px;
  height: 50px;
  position: relative;
  text-align: left;
}

.nameplate-image {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: left;
  background: #37342F;
}

.available .nameplate-image { background: rgb(119, 182, 90); }

.toggling .nameplate-image { background: rgb(156, 149, 136); }

.flavor-meta {
  display: block;
  width: 100%; height: 100%;
  position: absolute;
  text-align: center;
  padding: 20px 0 0 0;
  color: rgb(255, 247, 236);
  font-family: 'Open Sans';
  font-size: 1.1em;
}

.ring { z-index: 1; }

.flavor-meta p { font-size: .8em; }

.flavor-subheading { color: #ADA79F; font-family: 'Open Sans'; font-size: 1.1em; font-weight: 600; margin: 0; padding: 0; letter-spacing: 0px; }

.flavor-list > .flavor-detail {
  background: rgb(255, 235, 208);
  margin: 0;
  border-radius: 0;
  height: 150px;
  -webkit-box-shadow: inset 1px 1px 10px #999;
  box-shadow: inset 1px 1px 10px #999;
  padding: 30px;
  background-color: rgb(255, 232, 202);
  background-image: -webkit-linear-gradient(45deg, rgb(255, 228, 192) 25%, transparent 25%, transparent 75%, rgb(255, 228, 192) 75%, rgb(255, 228, 192)), -webkit-linear-gradient(-45deg, rgb(255, 228, 192) 25%, transparent 25%, transparent 75%, rgb(255, 228, 192) 75%, rgb(255, 228, 192));
  background-image: -moz-linear-gradient(45deg, rgb(255, 228, 192) 25%, transparent 25%, transparent 75%, rgb(255, 228, 192) 75%, rgb(255, 228, 192)), -moz-linear-gradient(-45deg, rgb(255, 228, 192) 25%, transparent 25%, transparent 75%, rgb(255, 228, 192) 75%, rgb(255, 228, 192));
  background-image: -ms-linear-gradient(45deg, rgb(255, 228, 192) 25%, transparent 25%, transparent 75%, rgb(255, 228, 192) 75%, rgb(255, 228, 192)), -ms-linear-gradient(-45deg, rgb(255, 228, 192) 25%, transparent 25%, transparent 75%, rgb(255, 228, 192) 75%, rgb(255, 228, 192));
  background-image: -o-linear-gradient(45deg, rgb(255, 228, 192) 25%, transparent 25%, transparent 75%, rgb(255, 228, 192) 75%, rgb(255, 228, 192)), -o-linear-gradient(-45deg, rgb(255, 228, 192) 25%, transparent 25%, transparent 75%, rgb(255, 228, 192) 75%, rgb(255, 228, 192));
  background-image: linear-gradient(45deg, rgb(255, 228, 192) 25%, transparent 25%, transparent 75%, rgb(255, 228, 192) 75%, rgb(255, 228, 192)), 
  linear-gradient(-45deg, rgb(255, 228, 192) 25%, transparent 25%, transparent 75%, rgb(255, 228, 192) 75%, rgb(255, 228, 192));
  -webkit-background-size:100px 100px;
  -moz-background-size:100px 100px;
  background-size: 100px 100px;
}
  
.flavor-detail h1 {
  color: #37342F;
  font-size: 2em;
  font-weight: 600;
}

.flavor-detail p { margin-left: 0px; }

/* ---------------------------------------------------------------------
 Menu
------------------------------------------------------------------------ */

.menu { 
	width: 100%;
	height: 40px;
	margin-top: 40px;
	background: rgb(41, 38, 34);
}

.menu ul {
	display: inline-block;
	margin: 0;
	padding: 0;
}

.menu li {
	float: left; 
	height: 40px;
}

.menu li a {
	display: block;
	padding: 10px 20px 0 20px;
	background: rgb(41, 38, 34);
	color: #ADA79F;
	text-decoration: none;
	height: 30px;
}

.menu li a.active {
	background:rgb(255, 247, 236);
	color: rgb(41, 38, 34);
}

