/* ---------------------------------------------------------------------
RESET CSS (thanks Eric Meyer)
------------------------------------------------------------------------ */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  vertical-align: baseline; }

body, h1, h2, h3, h4 {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

:focus {
  outline: 0; }

/* Always show a vertical scrollbar, even when there is no scrolling */
html {
  overflow-y: scroll; }

/* Don't let iOS and WinMobile mobile-optimize text for you */
/* Turn this rule on for mobile sites or sites using mediaqueries */
/*
html {
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
}
*/
/* ---------------------------------------------------------------------
 HTML5 Block / Inline Block declarations
------------------------------------------------------------------------ */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block; }

/* ---------------------------------------------------------------------
 Form Reset Styles
------------------------------------------------------------------------ */
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none; }

input[type=search] {
  -webkit-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* ---------------------------------------------------------------------
 Base
------------------------------------------------------------------------ */
html, body {
  height: 100%;
  color: #004025;
  background: #fff7ec;
  font: 12px 'Arial', 'Helvetica', sans-serif; }

body {
  font-size: 12px; }

p {
  margin-bottom: 1em; }

a {
  text-decoration: none; }

img {
  display: block;
  width: 100%;
  height: auto; }

/* ---------------------------------------------------------------------
 Menu
------------------------------------------------------------------------ */
header {
  background: #37342F;
  margin: 0 0 10px 0;
  padding: 20px 0 0px 0;
  color: #555;
  font-family: 'Open Sans', sans-serif;
  text-align: center; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

.flavor-subheading {
  color: #ADA79F;
  font-family: 'Open Sans';
  font-size: 1.1em;
  font-weight: 600;
  margin: 0;
  padding: 0;
  letter-spacing: 0px; }

.menuList {
  width: 100%;
  /* display: inline-block; */
  padding: 0;
}

.menuList li {
  float: left;
  /*height: 40px;*/
  width: 33.33338%;
  display: table; 
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.menuList li a {
  display: table-cell;
  padding: 2px 20px;
  color: #ADA79F;
  text-decoration: none;
  height: 100px;
  vertical-align: middle;
  background: #FFFAC7;
  border-radius: 10px; 
  -web-transition: color 0.2s;
  transition: color 0.2s;
}

.menuList a.isActive {
  background: #E8D3C6;
  color: #292622; }

/* ---------------------------------------------------------------------
 Wrapper
------------------------------------------------------------------------ */
.wrapper {
  max-width: 960px;
  margin: 0 auto;
  min-height: 100%;
  /*padding: 0 10px;*/
  /*border-left: 10px solid #fde2bf;
    border-right: 10px solid #fde2bf;*/
  -webkit-box-shadow: 1px 1px 46px #eaeaea;
  box-shadow: 1px 1px 46px #eaeaea; }

/* ---------------------------------------------------------------------
 Blocks
------------------------------------------------------------------------ */
.blocks {
  overflow: hidden;
  padding: 0.5em 0 0 0.5em;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.blocks-cell {
  float: left;
  width: 33.3333%;
  padding: 0 0.5em 0.5em 0;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.blocks-row {
  overflow: hidden;
  width: 100%;
  height: 0;
  text-align: center;
  margin-left: -0.25em; }

@media only screen and (min-width: 401px) {
  .blocks-cell {
    width: 25%; } }

@media only screen and (min-width: 601px) {
  .blocks-cell {
    width: 20%; } }

@media only screen and (min-width: 801px) {
  .blocks-cell {
    width: 16.66667%; } }

/* ---------------------------------------------------------------------
 Tile
------------------------------------------------------------------------ */
.tilesContainer {
  display: none; }

.tilesContainer_isActive {
  display: block; }

.tile {
  cursor: pointer;
  width: 100%;
  height: 100px;
  background: gray; }

.tile-img {
  border-radius: 8px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }

.tile-img:hover {
  -webkit-box-shadow: 0 0 1em #333333;
  box-shadow: 0 0 1em #333333; }

/* TODO - use better screen-reader only convention */

/* ---------------------------------------------------------------------
 Flavor
------------------------------------------------------------------------ */
.flavor-info {
  margin: 0 auto 0.5em;
  padding: 2em 0;
  width: 250px; }

.flavor-info p:last-child {
  margin-bottom: 0; }

.js-tiles-feature .flavor-info {
  display: none; }

/* ---------------------------------------------------------------------
 Feature - Theme
------------------------------------------------------------------------ */
.feature {
  background: #ffebd0;
  -webkit-box-shadow: inset 1px 1px 10px #999;
  box-shadow: inset 1px 1px 10px #999;
  background-color: #ffe8ca;
  background-image: -webkit-linear-gradient(45deg, #ffe4c0 25%, transparent 25%, transparent 75%, #ffe4c0 75%, #ffe4c0), -webkit-linear-gradient(-45deg, #ffe4c0 25%, transparent 25%, transparent 75%, #ffe4c0 75%, #ffe4c0);
  background-image: -moz-linear-gradient(45deg, #ffe4c0 25%, transparent 25%, transparent 75%, #ffe4c0 75%, #ffe4c0), -moz-linear-gradient(-45deg, #ffe4c0 25%, transparent 25%, transparent 75%, #ffe4c0 75%, #ffe4c0);
  background-image: -ms-linear-gradient(45deg, #ffe4c0 25%, transparent 25%, transparent 75%, #ffe4c0 75%, #ffe4c0), -ms-linear-gradient(-45deg, #ffe4c0 25%, transparent 25%, transparent 75%, #ffe4c0 75%, #ffe4c0);
  background-image: -o-linear-gradient(45deg, #ffe4c0 25%, transparent 25%, transparent 75%, #ffe4c0 75%, #ffe4c0), -o-linear-gradient(-45deg, #ffe4c0 25%, transparent 25%, transparent 75%, #ffe4c0 75%, #ffe4c0);
  background-image: linear-gradient(45deg, #ffe4c0 25%, transparent 25%, transparent 75%, #ffe4c0 75%, #ffe4c0), linear-gradient(-45deg, #ffe4c0 25%, transparent 25%, transparent 75%, #ffe4c0 75%, #ffe4c0);
  -webkit-background-size: 100px 100px;
  -moz-background-size: 100px 100px;
  background-size: 100px 100px;
  margin-bottom: 0.5em; }
