/* ---------------------------------------------------------------------
RESET CSS (thanks Eric Meyer)
------------------------------------------------------------------------ */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  vertical-align: baseline; }

body, h1, h2, h3, h4 {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

:focus {
  outline: 0; }

/* Always show a vertical scrollbar, even when there is no scrolling */
html {
  overflow-y: scroll; }

/* Don't let iOS and WinMobile mobile-optimize text for you */
/* Turn this rule on for mobile sites or sites using mediaqueries */
/*
html {
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
}
*/
/* ---------------------------------------------------------------------
 HTML5 Block / Inline Block declarations
------------------------------------------------------------------------ */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block; }

/* ---------------------------------------------------------------------
 Form Reset Styles
------------------------------------------------------------------------ */
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none; }

input[type=search] {
  -webkit-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* ---------------------------------------------------------------------
 Base
------------------------------------------------------------------------ */
html, body {
  height: 100%;
  color: whitesmoke;
  background: #f9da97;
  font: 12px 'Arial', 'Helvetica', sans-serif; }

body {
  font-size: 12px; }

p {
  margin-bottom: 1em; }

a {
  text-decoration: none; }

img {
  display: block;
  height: auto; }

.text-l {
  font-size: 2em; }

/* ---------------------------------------------------------------------
 Color Pallete

 dark: #211A11
 dark orange: #D48255
 light: #FBECA8
 light orange: #F19162
 red: #D1322E
------------------------------------------------------------------------ */
/* ---------------------------------------------------------------------
 Menu
------------------------------------------------------------------------ */
header {
  padding: 30px 0 0px;
  color: #231c13;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  background: #f46f47; }

@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(http://themes.googleusercontent.com/static/fonts/pacifico/v5/yunJt0R8tCvMyj_V4xSjafesZW2xOQ-xsNqO47m55DA.woff) format('woff'); }

.heading {
  font-size: 3em;
  line-height: 1;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 30px; }
  @media screen and (min-width: 401px) {
    .heading {
      font-size: 4em; } }

.heading-s {
  font-size: 1.5em;
  margin-bottom: 1em; }
  @media screen and (min-width: 401px) {
    .heading-s {
      font-size: 2em; } }

.heading-fancy {
  font-family: Pacifico, Georgia, serif; }

.text-l {
  font-size: 2em; }

.flavor-subheading {
  color: #ADA79F;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 2.7em;
  font-weight: 600;
  margin: 0;
  padding: 0;
  letter-spacing: 0px; }

.menu {
  width: 100%;
  margin-top: 40px; }
  .menu.admin li {
    width: 50%; }

.menu ul {
  margin: 0 auto;
  overflow: hidden; }

.menu li {
  float: left;
  width: 33.33338%;
  display: table;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.menu a {
  display: table-cell;
  background: #231c13;
  color: white;
  text-decoration: none;
  height: 6em;
  vertical-align: middle;
  font-size: 2em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.menu .active {
  background: #f9da97;
  color: #231c13; }

/* ---------------------------------------------------------------------
 Wrapper
------------------------------------------------------------------------ */
.wrapper {
  max-width: 960px;
  margin: 0 auto;
  min-height: 100%;
  border-left: 10px solid #211A11;
  border-right: 10px solid #211A11; }

.wrapper-inner {
  position: relative; }

/* ---------------------------------------------------------------------
 Blocks
------------------------------------------------------------------------ */
.blocks {
  overflow: hidden;
  border: 2px solid #FBECA8;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  background: #FBECA8;
  position: relative; }

.blocks-cell {
  float: left;
  width: 50%;
  border: 4px solid #FBECA8;
  margin: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transition: margin-bottom 0.2s ease-out;
  -moz-transition: margin-bottom 0.2s ease-out;
  -ms-transition: margin-bottom 0.2s ease-out;
  -o-transition: margin-bottom 0.2s ease-out;
  transition: margin-bottom 0.2s ease-out;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }
  @media screen and (min-width: 401px) {
    .blocks-cell {
      width: 33.3333%; } }
  @media screen and (min-width: 768px) {
    .blocks-cell {
      width: 25%; } }
  @media screen and (min-width: 1048px) {
    .blocks-cell {
      width: 20%; } }

/* ---------------------------------------------------------------------
 Tile
------------------------------------------------------------------------ */
.tilesContainer {
  display: none; }

.tilesContainer_isActive {
  display: block; }

.tile {
  display: block;
  cursor: pointer;
  position: relative;
  padding: 1em;
  background-color: #211A11;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: margin-bottom 0.2s ease-out;
  -moz-transition: margin-bottom 0.2s ease-out;
  -ms-transition: margin-bottom 0.2s ease-out;
  -o-transition: margin-bottom 0.2s ease-out;
  transition: margin-bottom 0.2s ease-out;
  border-radius: 10px; }
  .tile.admin {
    color: white;
    text-align: center;
    height: 80px;
    font-size: 1.2em; }
    .tile.admin.active {
      background-color: green; }

.tile-img {
  width: 100%;
  border-radius: 0.5em; }

.tile-img:hover {
  -webkit-box-shadow: 0 0 1em #333333;
  box-shadow: 0 0 1em #333333; }

.tile-noImg {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  height: 100%; }
  .tile-noImg p {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    font-size: 1.8em;
    font-family: Pacifico, Georgia, serif;
    max-width: 130px;
    line-height: 1.2; }
  .tile-noImg:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
    /* Adjusts for spacing */ }

.tile-content {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px 1px 1px 1px);
  overflow: hidden; }

.screen-reader {
  font-size: 0;
  color: transparent; }

.logo {
  display: block;
  margin: 0 auto 20px;
  position: relative; }

.tile-info-isActive {
  margin-bottom: 500px; }
  @media screen and (min-width: 401px) {
    .tile-info-isActive {
      margin-bottom: 400px; } }

.flavor-description {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  crop: rect(1px 1px 1px 1px);
  overflow: hidden;
  opacity: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -ms-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out; }

.flavor-description-isActive {
  background: #D1322E;
  width: 100%;
  text-align: center;
  height: 500px;
  opacity: 1; }
  @media screen and (min-width: 401px) {
    .flavor-description-isActive {
      height: 400px; } }

/* ---------------------------------------------------------------------
 Flavor
------------------------------------------------------------------------ */
.flavor-info {
  margin: 0 auto 0.5em;
  padding: 2em 0;
  width: 250px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.flavor-info-media {
  display: none; }
  @media screen and (min-width: 401px) {
    .flavor-info-media {
      display: block;
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 33.3333%;
      float: left;
      height: 100%;
      padding: 30px;
      background: black;
      background: rgba(0, 0, 0, 0.6);
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box; }
      .flavor-info-media p, .flavor-info-media img {
        width: 100%;
        border-radius: 10px; } }

.flavor-info-bd {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  padding: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }
  .flavor-info-bd li {
    font-size: 1.8em;
    display: inline-block;
    background-color: #211A11;
    padding: 6px;
    margin-bottom: 4px;
    border-radius: 10px;
    color: white; }
  @media screen and (min-width: 401px) {
    .flavor-info-bd {
      float: left;
      width: 66%; } }

@media screen and (min-width: 401px) {
  .flavor-info-bd-full {
    float: none;
    width: 100%; } }

.flavor-info p:last-child {
  margin-bottom: 0; }

/* ---------------------------------------------------------------------
 Feature - Theme
------------------------------------------------------------------------ */
.feature {
  -webkit-box-shadow: inset 1px 1px 10px #999;
  box-shadow: inset 1px 1px 10px #999;
  background-color: #ffe8ca;
  background-image: -webkit-linear-gradient(45deg, #ffe4c0 25%, transparent 25%, transparent 75%, #ffe4c0 75%, #ffe4c0), -webkit-linear-gradient(-45deg, #ffe4c0 25%, transparent 25%, transparent 75%, #ffe4c0 75%, #ffe4c0);
  background-image: -moz-linear-gradient(45deg, #ffe4c0 25%, transparent 25%, transparent 75%, #ffe4c0 75%, #ffe4c0), -moz-linear-gradient(-45deg, #ffe4c0 25%, transparent 25%, transparent 75%, #ffe4c0 75%, #ffe4c0);
  background-image: -ms-linear-gradient(45deg, #ffe4c0 25%, transparent 25%, transparent 75%, #ffe4c0 75%, #ffe4c0), -ms-linear-gradient(-45deg, #ffe4c0 25%, transparent 25%, transparent 75%, #ffe4c0 75%, #ffe4c0);
  background-image: -o-linear-gradient(45deg, #ffe4c0 25%, transparent 25%, transparent 75%, #ffe4c0 75%, #ffe4c0), -o-linear-gradient(-45deg, #ffe4c0 25%, transparent 25%, transparent 75%, #ffe4c0 75%, #ffe4c0);
  background-image: linear-gradient(45deg, #ffe4c0 25%, transparent 25%, transparent 75%, #ffe4c0 75%, #ffe4c0), linear-gradient(-45deg, #ffe4c0 25%, transparent 25%, transparent 75%, #ffe4c0 75%, #ffe4c0);
  -webkit-background-size: 100px 100px;
  -moz-background-size: 100px 100px;
  background-size: 100px 100px;
  margin-bottom: 0.5em; }
