@mixin retinaImageRepeatX($path, $width, $height, $ext) {
	background: url($basePath + $path + "_1x." + $ext) repeat-x scroll 0 0 transparent;
	@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (min-device-pixel-ratio: 1.5) {
        background: url($basePath + $path + "." + $ext) repeat-x scroll 0 0 transparent;
        background-size: $width $height;
	}
}

@mixin retinaImageRepeat($path, $width, $height, $ext) {
	background: url($basePath + $path + "_1x." + $ext) repeat scroll 0 0 transparent;
	@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (min-device-pixel-ratio: 1.5) {
        background: url($basePath + $path + "." + $ext) repeat scroll 0 0 transparent;
        background-size: $width $height;
	}
}

@mixin retinaImage($path, $width, $height, $ext) {
	background: url($basePath + $path + "." + $ext) 0 0 transparent;
	@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (min-device-pixel-ratio: 1.5) {
        background: url($basePath + $path + "." + $ext) 0 0 transparent;
        background-size: $width $height;
	}
}

@mixin opacity($value) {
    $value2: $value * 100;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$value2)";
    filter: alpha(opacity=$value2);
    -moz-opacity: $value;
    -khtml-opacity: $value;
    opacity: $value;
}

@mixin transition($time) {
    -webkit-transition: $time;
    -moz-transition: $time;
    -o-transition: $time;
    -ms-transition: $time;
    transition: $time;
}

@mixin hitbox() {
    background-image: url(hack);
}
