@import "imports/reset.scss";
@import "imports/base.scss";
@import "imports/menu.scss";


/* ---------------------------------------------------------------------
 Wrapper
------------------------------------------------------------------------ */

.wrapper {
    max-width: 960px;
    margin: 0 auto;
    min-height: 100%;
    /*padding: 0 10px;*/
    /*border-left: 10px solid #fde2bf;
    border-right: 10px solid #fde2bf;*/
    -webkit-box-shadow: 1px 1px 46px #eaeaea;
    box-shadow: 1px 1px 46px #eaeaea;
}

/* ---------------------------------------------------------------------
 Blocks
------------------------------------------------------------------------ */

.blocks {
    overflow: hidden;
    padding: 0.5em 0 0 0.5em;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.blocks-cell {
    float: left;
    width: 33.3333%;
    padding: 0 0.5em 0.5em 0;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.blocks-row {
    overflow: hidden;
    width: 100%;
    height: 0;
    text-align: center;
    margin-left: -0.25em;
}

@media only screen and (min-width: 401px){
    .blocks-cell { width: 25%; }
}

@media only screen and (min-width: 601px){
    .blocks-cell { width: 20%; }
}

@media only screen and (min-width: 801px){
    .blocks-cell { width: 16.66666667%;}
}

/* ---------------------------------------------------------------------
 Tile
------------------------------------------------------------------------ */
.tilesContainer { display: none; }
.tilesContainer_isActive { display: block; }

.tile {
    cursor: pointer;
}

.tile-img {
    width: 100%;
    border-radius: 8px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.tile-img:hover {
    -webkit-box-shadow: 0 0 1em #333333;
    box-shadow: 0 0 1em #333333;
}

/* TODO - use better screen-reader only convention */
.tile-content {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px 1px 1px 1px);
    overflow: hidden;
}

/* ---------------------------------------------------------------------
 Flavor
------------------------------------------------------------------------ */

.flavor-info {
    margin: 0 auto 0.5em;
    padding: 2em 0;
    width: 250px;
}

.flavor-info p:last-child {
    margin-bottom: 0;
}

.js-tiles-feature .flavor-info {
    display: none;
}

/* ---------------------------------------------------------------------
 Feature - Theme
------------------------------------------------------------------------ */

.feature {
    background: rgb(255, 235, 208);
    -webkit-box-shadow: inset 1px 1px 10px #999;
    box-shadow: inset 1px 1px 10px #999;
    background-color: rgb(255, 232, 202);
    background-image: -webkit-linear-gradient(45deg, rgb(255, 228, 192) 25%, transparent 25%, transparent 75%, rgb(255, 228, 192) 75%, rgb(255, 228, 192)), -webkit-linear-gradient(-45deg, rgb(255, 228, 192) 25%, transparent 25%, transparent 75%, rgb(255, 228, 192) 75%, rgb(255, 228, 192));
    background-image: -moz-linear-gradient(45deg, rgb(255, 228, 192) 25%, transparent 25%, transparent 75%, rgb(255, 228, 192) 75%, rgb(255, 228, 192)), -moz-linear-gradient(-45deg, rgb(255, 228, 192) 25%, transparent 25%, transparent 75%, rgb(255, 228, 192) 75%, rgb(255, 228, 192));
    background-image: -ms-linear-gradient(45deg, rgb(255, 228, 192) 25%, transparent 25%, transparent 75%, rgb(255, 228, 192) 75%, rgb(255, 228, 192)), -ms-linear-gradient(-45deg, rgb(255, 228, 192) 25%, transparent 25%, transparent 75%, rgb(255, 228, 192) 75%, rgb(255, 228, 192));
    background-image: -o-linear-gradient(45deg, rgb(255, 228, 192) 25%, transparent 25%, transparent 75%, rgb(255, 228, 192) 75%, rgb(255, 228, 192)), -o-linear-gradient(-45deg, rgb(255, 228, 192) 25%, transparent 25%, transparent 75%, rgb(255, 228, 192) 75%, rgb(255, 228, 192));
    background-image: linear-gradient(45deg, rgb(255, 228, 192) 25%, transparent 25%, transparent 75%, rgb(255, 228, 192) 75%, rgb(255, 228, 192)),
    linear-gradient(-45deg, rgb(255, 228, 192) 25%, transparent 25%, transparent 75%, rgb(255, 228, 192) 75%, rgb(255, 228, 192));
    -webkit-background-size:100px 100px;
    -moz-background-size:100px 100px;
    background-size: 100px 100px;

    margin-bottom: 0.5em;
}
