@import "imports/reset.scss";
@import "imports/base.scss";
@import "imports/menu.scss";

/* ---------------------------------------------------------------------
 Wrapper
------------------------------------------------------------------------ */

.wrapper {
    max-width: 960px;
    margin: 0 auto;
    min-height: 100%;
    border-left: 10px solid $dark;
    border-right: 10px solid $dark;
}

.wrapper-inner {
    position: relative;
}

/* ---------------------------------------------------------------------
 Blocks
------------------------------------------------------------------------ */

.blocks {
    overflow: hidden;
    border: 2px solid $light;
    @include box-sizing(border-box);

    //@include transition(opacity 0.2s ease-out);
    background: $light;
    position: relative;
}

.blocks-cell {
    float: left;
    width: 50%;
    border: 4px solid $light;
        margin: 0;
    @include hardware-acceleration(translate3d(0,0,0));
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    @include transition(margin-bottom 0.2s ease-out);
    @include box-sizing(border-box);
    @media screen and (min-width: 401px){
        width: 33.3333%;
    }
    @media screen and (min-width: 768px){
        width: 25%;
    }
    @media screen and (min-width: 1048px){
        width: 20%;
    }
}

/* ---------------------------------------------------------------------
 Tile
------------------------------------------------------------------------ */
.tilesContainer { display: none; }
.tilesContainer_isActive { display: block; }

.tile {
    display: block;
    cursor: pointer;
    position: relative;
    padding: 1em;
    background-color: $dark;
    margin: 0;
    @include box-sizing(border-box);
    @include transition(margin-bottom 0.2s ease-out);
    border-radius: 10px;

    &.admin {
        color: white;
        text-align: center;
        height: 80px;
        font-size: 1.2em;
        &.active {
            background-color: green;
        }
    }
}

.tile-img {
    width: 100%;
    border-radius: 0.5em;
}

.tile-img:hover {
    -webkit-box-shadow: 0 0 1em #333333;
    box-shadow: 0 0 1em #333333;
}

.tile-noImg {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    p {
        display: inline-block;
        vertical-align: middle;
        margin: 0;
        font-size: 1.8em;
        font-family: Pacifico, Georgia, serif;
        max-width: 130px;
        line-height: 1.2;
    }
    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -0.25em; /* Adjusts for spacing */
    }
}

.tile-content {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px 1px 1px 1px);
    overflow: hidden;
}

.screen-reader {
    font-size: 0;
    color: transparent;
}

.logo {
    display: block;
    margin: 0 auto 20px;
    position: relative;
}

.tile-info-isActive {
    margin-bottom: 400px;
}

.flavor-description {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    crop: rect(1px 1px 1px 1px);
    overflow: hidden;
    opacity: 0;
    @include box-sizing(border-box);
    @include transition(opacity 0.2s ease-out);

}

.flavor-description-isActive {
    background: $red;
    width: 100%;
    text-align: center;
    height: 400px;
    opacity: 1;
}

/* ---------------------------------------------------------------------
 Flavor
------------------------------------------------------------------------ */

.flavor-info {
    margin: 0 auto 0.5em;
    padding: 2em 0;
    width: 250px;
    @include box-sizing(border-box);
}

.flavor-info-media {
    display: none;
    @media screen and (min-width: 401px){
        display: block;
        width: 33.3333%;
        float: left;
        height: 100%;
        padding: 30px;
        background: black;
        background: rgba(0,0,0,0.6);
        @include box-sizing(border-box);
        p, img {
            width: 100%;
            border-radius: 10px;
        }
        p {

        }
    }
}

.flavor-info-bd {
    padding: 30px;
    @include box-sizing(border-box);
    li {
        font-size: 1.8em;
        display: inline-block;
        background-color: #211A11;
        padding: 6px;
        margin-bottom: 4px;
        border-radius: 10px;
        color: white;
    }
    @media screen and (min-width: 401px){
        float: left;
        width: 66%;
    }
}

.flavor-info-bd-full {
    @media screen and (min-width: 401px){
        float: none;
        width: 100%;
    }
}

.flavor-info p:last-child {
    margin-bottom: 0;
}

/* ---------------------------------------------------------------------
 Feature - Theme
------------------------------------------------------------------------ */

.feature {
    // background: rgb(255, 235, 208);
    -webkit-box-shadow: inset 1px 1px 10px #999;
    box-shadow: inset 1px 1px 10px #999;
    background-color: rgb(255, 232, 202);
    background-image: -webkit-linear-gradient(45deg, rgb(255, 228, 192) 25%, transparent 25%, transparent 75%, rgb(255, 228, 192) 75%, rgb(255, 228, 192)), -webkit-linear-gradient(-45deg, rgb(255, 228, 192) 25%, transparent 25%, transparent 75%, rgb(255, 228, 192) 75%, rgb(255, 228, 192));
    background-image: -moz-linear-gradient(45deg, rgb(255, 228, 192) 25%, transparent 25%, transparent 75%, rgb(255, 228, 192) 75%, rgb(255, 228, 192)), -moz-linear-gradient(-45deg, rgb(255, 228, 192) 25%, transparent 25%, transparent 75%, rgb(255, 228, 192) 75%, rgb(255, 228, 192));
    background-image: -ms-linear-gradient(45deg, rgb(255, 228, 192) 25%, transparent 25%, transparent 75%, rgb(255, 228, 192) 75%, rgb(255, 228, 192)), -ms-linear-gradient(-45deg, rgb(255, 228, 192) 25%, transparent 25%, transparent 75%, rgb(255, 228, 192) 75%, rgb(255, 228, 192));
    background-image: -o-linear-gradient(45deg, rgb(255, 228, 192) 25%, transparent 25%, transparent 75%, rgb(255, 228, 192) 75%, rgb(255, 228, 192)), -o-linear-gradient(-45deg, rgb(255, 228, 192) 25%, transparent 25%, transparent 75%, rgb(255, 228, 192) 75%, rgb(255, 228, 192));
    background-image: linear-gradient(45deg, rgb(255, 228, 192) 25%, transparent 25%, transparent 75%, rgb(255, 228, 192) 75%, rgb(255, 228, 192)),
    linear-gradient(-45deg, rgb(255, 228, 192) 25%, transparent 25%, transparent 75%, rgb(255, 228, 192) 75%, rgb(255, 228, 192));
    -webkit-background-size:100px 100px;
    -moz-background-size:100px 100px;
    background-size: 100px 100px;
    margin-bottom: 0.5em;
}
